<h2 mat-dialog-title>Choose action</h2>
<mat-dialog-content class="mat-typography">
  <h3>No results found. You can search globally or you can add the sound.</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" class="btn btn-success" cdkFocusInitial (click)="onAction('add')">Add</button>
  <button mat-button [mat-dialog-close]="true" class="btn btn-primary" cdkFocusInitial (click)="onAction('search')">Search</button>
  <button mat-button mat-dialog-close class="btn btn-danger">Close</button>
</mat-dialog-actions>