
table {
    width: 100%;
}

.no-data-container {
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.btn {
    margin-top: 20px;
}