<div class="container">
  <div class="content">
    <div class="row col-3">
      <label for="">Choose sound</label>
      <mat-form-field appearance="fill">
        <mat-select (selectionChange)="onChange($event)" [(ngModel)]="soundSelector">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let soundForInput of soundsForInput" [value]="soundForInput">{{ soundForInput.artist }} - {{ soundForInput.title }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="showTable">
      
        <!-- Artist Column -->
        <ng-container matColumnDef="artist">
          <th mat-header-cell *matHeaderCellDef> Artist </th>
          <td mat-cell *matCellDef="let element"> {{element.artist}} </td>
        </ng-container>
      
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- ISRC Column -->
        <ng-container matColumnDef="isrc">
          <th mat-header-cell *matHeaderCellDef> ISRC </th>
          <td mat-cell *matCellDef="let element"> {{element.isrc}} </td>
        </ng-container>
      
        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="row no-data-container" *ngIf="!showTable">
      No results found
    </div>
    <div>
      <button mat-button class="btn btn-success" (click)="addSound()" *ngIf="showAddBtn">Add sound</button>
    </div>
  </div>
</div>